@import "../../App.scss";

.FilterItem {
    color: $yellow;
    font-size: 14pt;
    border: 2px solid $yellow;
    margin: 0 0.5em;
    border-radius: 5px;
    user-select: none;
    padding: 0.35em 0;
}

.FilterItem:hover {
    color: white;
    background-color: $yellow;
}

.FilterItem:active {
    color: white;
    background-color: $darkyellow;
    border: 2px solid $darkyellow;
    user-select: none;
}

.FilterItem .FilterItem--Label {
    padding: 0.35em 1em;
    cursor: pointer;
}

.FilterItem.Checked {
    color: white;
    font-size: 14pt;
    border: 2px solid $yellow;
    background-color: $yellow;
}

.FilterItem.Checked:active {
    color: white;
    background-color: $darkyellow;
    border: 2px solid $darkyellow;
    user-select: none;
}